body {
  background-color: #3f2b2c
}

header {
  background-color: #ec3047;
}

nav {
  width: 960px;
  height: 90px;
  margin: 0px auto 0px auto;
}

nav a img{
  margin: 10px 0px 10px 0px;
  float: left;
}

#navButtons {
  float: left;
  margin-left: 2%;
  margin-top: 10px;
  width: 70%;
  height: 70px;
}

#navButtons a {
  text-decoration: none;
  display: inline-block;
  color: white;
  margin: 12px 3% 2px 3%; 
  padding: 15px 22px;
  background: #aca287;
}

#heroImage{
  display: block;
  margin-top: 30px;
}

#heroImage img {
  display: block;
  margin: 0px auto;
}

#subBanner {
  width: 960px;
  margin: 30px auto 0px auto;
  height: 375px;
  display: flex;
  justify-content: space-between;
}

#featured {
  width: 960px;
  margin: 30px auto 0px auto;
  height: 375px;
  display: flex;
  justify-content: space-between;
}

#featured h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0px 0px 10px;
}

#featured p {
  width: 465px;
  height: 275px;
  overflow: scroll;
}

#featured button {
  height: 30px;
  width: 75%;
  margin: 10px auto 0px 40px;
  background-color: #008CBA;
}

#featured button:hover {
  transition: 350ms;
  background-color: #aca287;
}

footer {
  width: 960px;
  height: 200px;
  display: block;
  margin: 30px auto 10px auto;
}